<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css" >
  <script src="../static/js/jquery-3.3.1.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <script src="../static/js/myscript.js"></script>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">World Cup Pool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Group Stage <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">View Standings</a>
            </li>

          </ul>
          <form action="logout" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="hidden" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>

<div class="message">{{text | safe}}</div>
<div class="container-fluid">
    <form action="" method='POST'>
      <label>Username:</label><br>
      <input type="text" name="username" id="username" /><br>
      <label>Email:</label><br>
      <input type="email" name="email"><br>
      <label>Password:</label><br>
      <input type="text" name="password" id="password" /><br>
      <label>Confirm Password:</label><br>
      <input type="text" name="confirm" id="confirm" /><br><br>

      <input type="submit" id="submit" /><br>


    </form>
</div>
  </body>
</html>
