<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta id="viewport" content="wnameth=device-wnameth, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css" >
  <script src="../static/js/jquery-3.3.1.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <script src="../static/js/myscript.js"></script>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">World Cup Pool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" name="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Group Stage <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">View Standings</a>
            </li>

          </ul>
          <form action="logout" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="hnameden" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>





      <div class="container-fluname">


      <div class="row">
      <div class="col-sm-6">
        <form action="groupStagePrediction" method="POST">
          <h4>Group Stage - Matchday 1 of 3</h4>
          <div class="table-responsive">
          <table class="table-striped table">
            <th>Match #</th>
            <th>Date</th>
            <th>Time</th>

            <th>Team 1 </th>
            <th>
            <th>  vs.  </th>
            <th>
            <th>Team 2 </th>
            <tr>
              <td>1</td>
              <td>06-14</td>
              <td>11:00 am</td>
              <td>Russia</td>
              <td><input type="number" id="ru" onkeypress="return event.charCode >= 48" min="0" name="1" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="sa" onkeypress="return event.charCode >= 48" min="0" name="2" value="0"/> </td>
              <td>Saudi Arabia</td>
            </tr>
            <tr>
              <td>2</td>
              <td>06-15</td>
              <td>8:00 am</td>
              <td>Egypt</td>
              <td><input type="number" id="eg" onkeypress="return event.charCode >= 48" min="0" name="3" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="uy" onkeypress="return event.charCode >= 48" min="0" name="4" value="0"/> </td>
              <td>Uruguay</td>

            </tr>
            <tr>
              <td>3</td>
              <td>06-15</td>
              <td>11:00 am</td>
              <td>Morocco</td>
              <td><input type="number" id="ma" onkeypress="return event.charCode >= 48" min="0" name="5" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ir" onkeypress="return event.charCode >= 48" min="0" name="6" value="0"/> </td>
              <td>Iran</td>


            </tr>
            <tr>
              <td>4</td>
              <td>06-15</td>
              <td>2:00 pm</td>
              <td>Portugal</td>
              <td><input type="number" id="pt" onkeypress="return event.charCode >= 48" min="0" name="7" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="es" onkeypress="return event.charCode >= 48" min="0" name="8" value="0"/> </td>
              <td>Spain</td>


            </tr>
            <tr>
              <td>5</td>
              <td>06-16</td>
              <td>6:00 am</td>
              <td>France</td>
              <td><input type="number" id="fr"  onkeypress="return event.charCode >= 48" min="0" name="9" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="au" onkeypress="return event.charCode >= 48" min="0" name="10" value="0"/> </td>
              <td>Australia</td>


            </tr>
            <tr>
              <td>6</td>
              <td>06-16</td>
              <td>9:00 am</td>
              <td>Argentina</td>
              <td><input type="number" id="ar"  onkeypress="return event.charCode >= 48" min="0" name="11" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="is"  onkeypress="return event.charCode >= 48" min="0" name="12" value="0"/> </td>
              <td>Iceland</td>


            </tr>
            <tr>
              <td>7</td>

              <td>06-16</td>
                <td>12:00 pm</td>
              <td>Peru</td>
              <td><input type="number" id="pe" onkeypress="return event.charCode >= 48" min="0" name="13" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="dk" onkeypress="return event.charCode >= 48" min="0" name="14" value="0"/> </td>
              <td>Denmark</td>


            </tr>
            <tr>
              <td>8</td>

              <td>06-16</td>
              <td>3:00 pm</td>
              <td>Croatia</td>
              <td><input type="number" id="hr"  onkeypress="return event.charCode >= 48" min="0" name="15" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ng" onkeypress="return event.charCode >= 48" min="0" name="16" value="0"/> </td>
              <td>Nigeria</td>


            </tr>
            <tr>
              <td>9</td>

              <td>06-17</td>
                <td>8:00 am</td>
              <td>Costa Rica</td>
              <td><input type="number" id="cr" onkeypress="return event.charCode >= 48" min="0" name="17" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="rs" onkeypress="return event.charCode >= 48" min="0" name="18" value="0"/> </td>
              <td>Serbia</td>


            </tr>
            <tr>
              <td>10</td>

              <td>06-17</td>
                <td>11:00 am</td>

              <td> Germany</td>
              <td><input type="number" id="de"  onkeypress="return event.charCode >= 48" min="0" name="19" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="mx" onkeypress="return event.charCode >= 48" min="0" name="20" value="0"/> </td>
              <td>Mexico</td>


            </tr>
            <tr>
              <td>11</td>
              <td>06-17</td>
              <td>2:00 pm</td>
              <td>Brazil</td>
              <td><input type="number" id="br" onkeypress="return event.charCode >= 48" min="0" name="21" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ch" onkeypress="return event.charCode >= 48" min="0" name="22" value="0"/> </td>
              <td>Switzerland</td>


            </tr>
            <tr>
              <td>12</td>
              <td>06-18</td>
              <td>8:00 am</td>
              <td>Sweden </td>
              <td><input type="number" id="se" onkeypress="return event.charCode >= 48" min="0" name="23" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="kr" onkeypress="return event.charCode >= 48" min="0" name="24" value="0"/> </td>
              <td>South Korea</td>


            </tr>
            <tr>
              <td>13</td>
              <td>06-18</td>
                <td>11:00 am</td>
              <td>Belgium</td>
              <td><input type="number" id="be" onkeypress="return event.charCode >= 48" min="0" name="25" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pa" onkeypress="return event.charCode >= 48" min="0" name="26" value="0"/> </td>
              <td>Panama</td>


            </tr>
            <tr>
              <td>14</td>
              <td>06-18</td>
              <td>2:00 pm</td>
              <td>Tunisia</td>
              <td><input type="number" id="tn" onkeypress="return event.charCode >= 48" min="0" name="27" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="gb" onkeypress="return event.charCode >= 48" min="0" name="28" value="0"/> </td>
              <td>England</td>

            </tr>
            <tr>
              <td>15</td>
              <td>06-19</td>
              <td>8:00 am</td>
              <td>Colombia</td>
              <td><input type="number" id="co" onkeypress="return event.charCode >= 48" min="0" name="29" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="jp" onkeypress="return event.charCode >= 48" min="0" name="30" value="0"/> </td>
              <td>Japan</td>

            </tr>
            <tr>
              <td>16</td>
              <td>06-19</td>
              <td>11:00 am</td>
              <td>Poland</td>
              <td><input type="number" id="pl" onkeypress="return event.charCode >= 48" min="0" name="31" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="sn" onkeypress="return event.charCode >= 48" min="0" name="32" value="0"/> </td>
              <td>Senegal</td>

            </tr>
            </table>
          </div>
            <h4>Group Stage - Matchday 2 of 3</h4>
            <div class="table-responsive">
          <table class="table-striped table">
            <th>Match #</th>
            <th>Date</th>
            <th>Time</th>
            <th>Team 1 </th>
            <th>
            <th>  vs.  </th>
            <th>
            <th>Team 2 </th>
            <tr>
              <td>17</td>
              <td>06-19</td>
              <td>2:00 pm</td>
              <td>Russia</td>
              <td><input type="number" id="ru" onkeypress="return event.charCode >= 48" min="0" name="33" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="eg" onkeypress="return event.charCode >= 48" min="0" name="34" value="0"/> </td>
              <td>Egypt</td>

            </tr>
            <tr>
              <td>18</td>
              <td>06-20</td>
              <td>8:00 am</td>
              <td>Portugal</td>
              <td><input type="number" id="pt" onkeypress="return event.charCode >= 48" min="0" name="35" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ma" onkeypress="return event.charCode >= 48" min="0" name="36" value="0"/> </td>
              <td>Morocco</td>

            </tr>
            <tr>
              <td>19</td>
              <td>06-20</td>
              <td>11:00 am</td>
              <td>Uruguay</td>
              <td><input type="number" id="uy" onkeypress="return event.charCode >= 48" min="0" name="37" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="sa" onkeypress="return event.charCode >= 48" min="0" name="38" value="0"/> </td>
              <td>Saudi Arabia</td>

            </tr>
            <tr>
              <td>20</td>
              <td>06-20</td>
              <td>2:00 pm</td>
              <td>Iran</td>
              <td><input type="number" id="ir"  onkeypress="return event.charCode >= 48" min="0" name="39" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="es" onkeypress="return event.charCode >= 48" min="0" name="40" value="0"/> </td>
              <td>Spain</td>

            </tr>
            <tr>
              <td>21</td>
              <td>06-21</td>
              <td>8:00 am</td>
              <td>Denmark</td>
              <td><input type="number" id="dk" onkeypress="return event.charCode >= 48" min="0" name="41" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="au" onkeypress="return event.charCode >= 48" min="0" name="42" value="0"/> </td>
              <td>Australia</td>

            </tr>
            <tr>
              <td>22</td>
              <td>06-21</td>
              <td>11:00 am</td>
              <td>France</td>
              <td><input type="number" id="fr" onkeypress="return event.charCode >= 48" min="0" name="43" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pe" onkeypress="return event.charCode >= 48" min="0" name="44" value="0"/> </td>
              <td>Peru</td>

            </tr>
            <tr>
              <td>23</td>
              <td>06-21</td>
              <td>2:00 pm</td>
              <td>Argentina</td>
              <td><input type="number" id="ar" onkeypress="return event.charCode >= 48" min="0" name="45" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="hr" onkeypress="return event.charCode >= 48" min="0" name="46" value="0"/> </td>
              <td>Croatia</td>

            </tr>
            <tr>
              <td>24</td>
              <td>06-22</td>
              <td>8:00 am</td>
              <td>Brazil</td>
              <td><input type="number" id="br" onkeypress="return event.charCode >= 48" min="0" name="47" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="cr" onkeypress="return event.charCode >= 48" min="0" name="48" value="0"/> </td>
              <td>Costa Rica</td>

            </tr>
            <tr>
              <td>25</td>
              <td>06-22</td>
              <td>11:00 am</td>
              <td>Nigeria</td>
              <td><input type="number" id="ng"  onkeypress="return event.charCode >= 48" min="0" name="49" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="is" onkeypress="return event.charCode >= 48" min="0" name="50" value="0"/> </td>
              <td>Iceland</td>

            </tr>
            <tr>
              <td>26</td>
              <td>06-22</td>
              <td>2:00 pm</td>
              <td>Serbia</td>
              <td><input type="number" id="rs" onkeypress="return event.charCode >= 48" min="0" name="51" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ch"  onkeypress="return event.charCode >= 48" min="0" name="52" value="0"/> </td>
              <td>Switzerland</td>

            </tr>
            <tr>
              <td>27</td>
              <td>06-23</td>
              <td>8:00 am</td>
              <td>Belgium</td>
              <td><input type="number" id="be"  onkeypress="return event.charCode >= 48" min="0" name="53" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="tn" onkeypress="return event.charCode >= 48" min="0" name="54" value="0"/> </td>
              <td>Tunisia</td>

            </tr>
            <tr>
              <td>28</td>
              <td>06-23</td>
              <td>11:00 am</td>
              <td>South Korea</td>
              <td><input type="number" id="kr" onkeypress="return event.charCode >= 48" min="0" name="55" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="mx" onkeypress="return event.charCode >= 48" min="0" name="56" value="0" /> </td>
              <td>Mexico</td>

            </tr>
            <tr>
              <td>29</td>
              <td>06-23</td>
              <td>2:00 pm</td>
              <td>Germany</td>
              <td><input type="number" id="de" onkeypress="return event.charCode >= 48" min="0" name="57" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="se" onkeypress="return event.charCode >= 48" min="0" name="58" value="0"/> </td>
              <td>Sweden</td>

            </tr>
            <tr>
              <td>30</td>
              <td>06-24</td>
              <td>8:00 am</td>
              <td>England</td>
              <td><input type="number" id="gb" onkeypress="return event.charCode >= 48" min="0" name="59" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pa" onkeypress="return event.charCode >= 48" min="0" name="60" value="0"/> </td>
              <td>Panama</td>

            </tr>
            <tr>
              <td>31</td>
              <td>06-24</td>
              <td>11:00 am</td>
              <td>Japan</td>
              <td><input type="number" id="jp" onkeypress="return event.charCode >= 48" min="0" name="61" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="sn" onkeypress="return event.charCode >= 48" min="0" name="62" value="0"/> </td>
              <td>Senegal</td>

            </tr>
            <tr>
              <td>32</td>
              <td>06-24</td>
              <td>2:00 pm</td>
              <td>Poland</td>
              <td><input type="number" id="pl"  onkeypress="return event.charCode >= 48" min="0" name="63" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="co" onkeypress="return event.charCode >= 48" min="0" name="64" value="0"/> </td>
              <td>Colombia</td>

            </tr>
          </table>
        </div>
          <h4>Group Stage - Matchday 3 of 3</h4>
          <div class="table-responsive">
          <table class="table-striped table">
            <th>Match #</th>
            <th>Date</th>
            <th>Time</th>
            <th>Team 1 </th>
            <th>
            <th>  vs.  </th>
            <th>
            <th>Team 2 </th>

            <tr>
              <td>33</td>
              <td>06-25</td>
              <td>10:00 am</td>
              <td>Saudi Arabia</td>
              <td><input type="number" id="sa" onkeypress="return event.charCode >= 48" min="0" name="65" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="eg" onkeypress="return event.charCode >= 48" min="0" name="66" value="0"/> </td>
              <td>Egypt</td>

            </tr>
            <tr>
              <td>34</td>
              <td>06-25</td>
              <td>10:00 am</td>
              <td>Uruguay</td>
              <td><input type="number" id="uy" onkeypress="return event.charCode >= 48" min="0" name="67" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ru" onkeypress="return event.charCode >= 48" min="0" name="68" value="0" /> </td>
              <td>Russia</td>

            </tr>
            <tr>
              <td>35</td>
              <td>06-25</td>
              <td>2:00 pm</td>
              <td>Iran</td>
              <td><input type="number" id="ir" onkeypress="return event.charCode >= 48" min="0" name="69" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pt" onkeypress="return event.charCode >= 48" min="0" name="70" value="0"/> </td>
              <td>Portugal</td>

            </tr>
            <tr>
              <td>36</td>
              <td>06-25</td>
              <td>2:00 pm</td>
              <td>Spain</td>
              <td><input type="number" id="es" onkeypress="return event.charCode >= 48" min="0" name="71" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ma" onkeypress="return event.charCode >= 48" min="0" name="72" value="0"/> </td>
              <td>Morocco</td>

            </tr>
            <tr>
              <td>37</td>
              <td>06-26</td>
              <td>10:00 am</td>
              <td>Australia</td>
              <td><input type="number" id="au" onkeypress="return event.charCode >= 48" min="0" name="73" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pe" onkeypress="return event.charCode >= 48" min="0" name="74" value="0"/> </td>
              <td>Peru</td>

            </tr>
            <tr>
              <td>38</td>
              <td>06-26</td>
              <td>10:00 am</td>
              <td>Denmark</td>
              <td><input type="number" id="dk" onkeypress="return event.charCode >= 48" min="0" name="75" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="fr" onkeypress="return event.charCode >= 48" min="0" name="76" value="0"/> </td>
              <td>France</td>

            </tr>
            <tr>
              <td>39</td>
              <td>06-26</td>
              <td>2:00 pm</td>
              <td>Nigeria</td>
              <td><input type="number" id="ng" onkeypress="return event.charCode >= 48" min="0" name="77" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="ar" onkeypress="return event.charCode >= 48" min="0" name="78" value="0"/> </td>
              <td>Argentina</td>

            </tr>
            <tr>
              <td>40</td>
              <td>06-26</td>
              <td>2:00 pm</td>
              <td>Iceland</td>
              <td><input type="number" id="is" onkeypress="return event.charCode >= 48" min="0" name="79" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="hr" onkeypress="return event.charCode >= 48" min="0" name="80" value="0"/> </td>
              <td>Croatia</td>

            </tr>
            <tr>
              <td>41</td>
              <td>06-27</td>
              <td>10:00 am</td>
              <td>South Korea</td>
              <td><input type="number" id="kr" onkeypress="return event.charCode >= 48" min="0" name="81" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="de"  onkeypress="return event.charCode >= 48" min="0" name="82" value="0"/> </td>
              <td>Germany</td>

            </tr>
            <tr>
              <td>42</td>
              <td>06-27</td>
              <td>10:00 am</td>
              <td>Mexico</td>
              <td><input type="number" id="mx"  onkeypress="return event.charCode >= 48" min="0" name="83" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="se" onkeypress="return event.charCode >= 48" min="0" name="84" value="0"/> </td>
              <td>Sweden</td>

            </tr>
            <tr>
              <td>43</td>
              <td>06-27</td>
              <td>2:00 pm</td>
              <td>Switzerland</td>
              <td><input type="number" id="ch" onkeypress="return event.charCode >= 48" min="0" name="85" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="cr" onkeypress="return event.charCode >= 48" min="0" name="86" value="0"/> </td>
              <td>Costa Rica</td>

            </tr>
            <tr>
              <td>44</td>
              <td>06-27</td>
              <td>2:00 pm</td>
              <td>Serbia</td>
              <td><input type="number" id="rs" onkeypress="return event.charCode >= 48" min="0" name="87" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="br" onkeypress="return event.charCode >= 48" min="0" name="88" value="0"/> </td>
              <td>Brazil</td>

            </tr>
            <tr>
              <td>45</td>
              <td>06-28</td>
              <td>10:00 am</td>
              <td>Senegal</td>
              <td><input type="number" id="sn" onkeypress="return event.charCode >= 48" min="0" name="89" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="co" onkeypress="return event.charCode >= 48" min="0" name="90" value="0"/> </td>
              <td>Colombia</td>

            </tr>
            <tr>
              <td>46</td>
              <td>06-28</td>
              <td>10:00 am</td>
              <td>Japan</td>
              <td><input type="number" id="jp"  onkeypress="return event.charCode >= 48" min="0" name="91" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="pl" onkeypress="return event.charCode >= 48" min="0" name="92" value="0"/> </td>
              <td>Poland</td>

            </tr>
            <tr>
              <td>47</td>
              <td>06-28</td>
              <td>2:00 pm</td>
              <td>England</td>
              <td><input type="number" id="gb" onkeypress="return event.charCode >= 48" min="0" name="93" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="be" onkeypress="return event.charCode >= 48" min="0" name="94" value="0"/> </td>
              <td>Belgium</td>

            </tr>
            <tr>
              <td>48</td>
              <td>06-28</td>
              <td>2:00 pm</td>
              <td>Panama</td>
              <td><input type="number" id="pa" onkeypress="return event.charCode >= 48" min="0" name="95" value="0"/> </td>
              <td>  vs.  </td>
              <td><input type="number" id="tn" onkeypress="return event.charCode >= 48" min="0" name="96" value="0"/> </td>
              <td>Tunisia</td>

            </tr>

          </table>
        </div>





            <input type="submit" />
        </form>
      </div>
      <div class="col-sm-6">
        <h4> Group Results  </h4>
      <div class="table-responsive" name="groupTable">
      <table name="groupsTable" class="table groupsTable">
        <th>Group A</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/eg.svg"> Egypt</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/ru.svg"> Russia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/sa.svg"> Saudi Arabia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/uy.svg"> Uruguay</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group B</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/ir.svg"> Iran</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/ma.svg"> Morocco</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/pt.svg"> Portugal</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/es.svg"> Spain</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group C</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/au.svg"> Australia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/dk.svg"> Denmark</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/fr.svg"> France</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/pe.svg"> Peru</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group D</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/ar.svg"> Argentina</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/hr.svg"> Croatia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/is.svg"> Iceland</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/ng.svg"> Nigeria</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group E</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/br.svg"> Brazil</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/cr.svg"> Costa Rica</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/rs.svg"> Serbia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/ch.svg"> Switzerland</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group F</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/de.svg"> Germany </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/kr.svg"> South Korea</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/mx.svg"> Mexico</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/se.svg"> Sweden</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group G</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/be.svg"> Belgium</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/gb.svg"> England</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/pa.svg"> Panama</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/tn.svg"> Tunisia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <th>Group H</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <tr>
          <td><img src="../static/icons/co.svg"> Colombia</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/jp.svg">Japan</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/pl.svg"> Poland</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><img src="../static/icons/sn.svg"> Senegal</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>
  <button type="button" name="testBtn">Test</button>
    </body>
</html>
